body {
	display: none;
}

body, html {
	width: 100%;
	height: 100%;
}

#controls {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5000;
	background: linear-gradient(to bottom,
		rgba(255,255,255,1) 50%, 90%,
		rgba(255,255,255,0) 100%);
	padding: 1.5rem 1.5rem 50px 1.5rem;
	margin: 0 !important;
}

#custom-url-container {
	display: none;
}

#dropdown-container {
	display: flex;
}

#autocomplete {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	right: 0;
}

#autocomplete li {
	cursor: pointer;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#loading {
 	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

#tooltip {
	text-align: justify;
	text-justify: inter-word;
	position: absolute;
	display: none;
	z-index: 3;
	padding: 6px;
	max-width: 250px;
	background-color: #fff;
	border: 1px solid #ced4da;
	color: #212529;
	border-radius: 3px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#middle-nav .btn {
	margin: 0 2px 0 2px;
	padding-bottom: 0px;
	width: 110px;
}

#middle-nav .btn img {
	margin: 10px auto;
	display: block;
}

#tts-dropdown .btn {
	min-width: 200px;
}

#tts-dropdown {
	display: none;
}

#tts-dropdown .dropdown-menu {
	height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

#tts-dropdown p {
	margin-bottom: 5px;
}

#error-message {
	margin-bottom: 0;
	display: none;
}

#message-container {
	position: absolute;
}

#about-message {
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	border: 1px solid #ced4da;
	display: none;
}

#help {
	cursor: pointer;
	text-align: justify;
	text-justify: inter-word;
	position: relative;
	width: 40rem;
	left: 50%;
	transform: translateX(-50%);
	top: 14rem;
}
